/* Global Styles */
html {
    /* scroll-behavior: smooth; */
}

body {
    font-family: 'Work Sans', serif;
    color: #111;
    font-size: 14px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Krona One', serif;
}

h2 {
    line-height: 140%;
    font-size: 24px;
    margin: 0;
}

h3 {
    line-height: 140%;
    font-size: 24px;
}

h3 a {
    border: none;
}

p, ul li, ol li {
    line-height: 160%;
}

ul ul {
    margin-top: 12px;
}

a {
    color: #111;
    font-weight: 400;
    text-decoration: none;
    padding: 5px 0;
    padding-bottom: 0px;
    border-bottom: 2px solid #111;
    transition: .1s;
}

a.active:hover {
    color: #111;
    cursor: default;
}

a:hover {
    color: #001f9a;
    /* border-bottom: 2px solid #FF6978; */
    border: 0px solid #fff;
}

ul li, ol li {
    margin-bottom: 10px;
}

.image-container img, .image-container video {
    width: 100%;
    margin: 0;
}

.image-container-small img, .image-container-small video {
    width: 100%;
    margin: 0;
}

@media (min-width: 960px) {
    .container-small {
        width: 600px;
        padding: 20px;
        margin: auto;
    }
}

.para {
    margin: 30px 0;
}

@media (min-width: 960px) {
    .para {
        margin: 40px 0;
    }
}

@media (min-width: 960px) {

    body { 
        font-size: 18px;
    }

    h2 {
        line-height: 140%;
        font-size: 36px;
    }

    h3 {
        line-height: 140%;
        font-size: 24px;
    }
}

/* Header */

header {
    margin: auto;
    padding: 20px 0;
    width: 100%;
}

header h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

header h1 a {
    border: 2px solid transparent;
    font-weight: 700;
}

nav {
    display: none;
}

@media (min-width: 960px) {

    header {
        width: 960px;
        display: flex;
        justify-content: space-between;
    }

    nav {
        display: block;
    }

    nav ul {
        display: flex;
        list-style: none;
        gap: 32px;
        font-size: 14px;
        font-weight: 400;
    }

    nav ul a {
        padding-bottom: 5px;
    }

    nav ul a.active {
        border: none;
    }
}

/* Hero */

#hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
    margin: 10px auto;
    margin-bottom: 40px;
}

#hero h2 {
    font-weight: 700;
    margin-bottom: 16px;
}

#hero p {
    line-height: 160%;
}

#hero .image {
    display: flex;
    align-items: center;
    padding: 0px;
    overflow: hidden;
    height: 375px;
}

#hero .image img {
    width: 100%;
}

.content {
    padding: 20px;
}

@media (min-width: 960px) {
    section#hero {
        width: 960px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 50px auto;
        gap: 50px;
        /* margin-bottom: 100px; */
    }

    section#hero .content {
        width: 50%;
        padding: 0;
        padding-right: 32px;
    }

    section#hero .image {
        /* width: 50%; */
        width: 400px;
        height: 400px;
        overflow: hidden;
    }

    .content { 
        padding: 0;
    }

    #hero h2 {
        margin-bottom: 32px;
    }
}

/* Portfolio */

#portfolio {
    margin: auto;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#portfolio .project {
    justify-content: space-between;
    margin-bottom: 40px;
}

.content h3 {
    line-height: 140%;
    font-size: 18px;
    margin: 16px 0;
    margin-top: 8px;
}

#portfolio h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
    padding: 20px;
    color: #111;
}

.content .year {
    font-size: 14px;
    margin-bottom: 0;
}

#portfolio .project .content {
    padding-top: 0px;
}

.project-image img {
    width: 100%;
}

.project-image a {
    border: none;
}

#portfolioSecondary {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 40px;
}

#portfolioSecondary h3 {
    font-size: 24px;
}

/* #portfolioSecondary .project-image {
    margin-bottom: 20px; 
} */


#portfolioSecondary .project .content {
    padding-top: 0px;
}

@media (min-width: 960px) {
    #portfolio {
        width: 960px;
    }

    .content h3 {
        font-size: 18px;        
    }

    #portfolio h2 {
        font-size: 64px;
        font-weight: 700;
        margin: 100px 0;
        padding: 0;
    }

    #portfolio .project {
        flex-direction: row;
        margin-bottom: 100px;
    }

    #portfolio .project .content {
        width: 45%;
    }

    #portfolio .project-image {
        width: 45%;
    }

    #portfolio .project-content {
        width: 50%;
    }

    #portfolioSecondary { 
        width: 960px;
        flex-direction: row;
    }

    #portfolioSecondary .project {
        width: 50%;
    }
}

/* Footer */

footer {
    padding-top: 50px;
    padding-bottom: 25px;
}

@media (min-width: 960px) {
    footer {
        padding-top: 100px;
        padding-bottom: 50px;
    }
}

.social ul {
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.social a {
    border: none;
}

.social img {
    width: 24px;
}

#credit {
    text-align: center;
    width: 80%;
    margin: 0px auto;
    font-size: 12px;
    color: #666;
}

/* Project Hero */

#projectHero {
    padding: 30px 0;
}

#projectHero.hrBg {
    background-color: #FBEEF1;
}

#projectHero.instArtBg {
    background-color: #F9F9F9;
}

#projectHero.videofeedArtBg {
    background-color: #F4ECE0;
}

#projectHero.typeArtBg {
    background-color: #000;
    color: #fff;
}

#projectHero.gibberBg {
    background-color: #000;
    color: #1AFDFE;
}


#projectHero.playBg {
    background-color: #F2F4FF;
}

#projectHero.videoBg {
    background-color: #F8F4FF;
}

#projectHero.goqiiBg {
    background-color: #F1FFEB;
}

#projectHero.practoBg {
    background-color: #EBF7FF;
}

#projectHero.gamificationBg {
    background-color: #FFF9E4;
}

#projectHero h2 {
    font-size: 20px;
    text-align: center;
}

#projectHero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 960px) {
    #projectHero .content {
        width: 960px;
        margin: auto;
    }

    #projectHero .image-container {
        width: 700px;
        margin: auto;
        margin-top: 40px;
    }

    #projectHero h2 {
        font-size: 48px;
    }
}

/* Project Content */

.content-section {
    padding: 20px;
}

.content-section h2 {
    margin-bottom: 10px;
    margin-top: 20px;
}


.content-section p, .content-section ul, .content-section ol {
    margin-bottom: 20px;
}

.content-section ul, .content-section ol {
    padding: 0 20px;
    overflow: hidden;
}

.content-section .image-container, .content-section .image-container-small {
    margin-bottom: 20px;
}

.content-section .image-container-small audio {
    width: 100%;
    display: block;
}

.content-section .code-block {
    width: 100%;
    font-family: monospace;
    box-sizing: border-box;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
}

.content-section .code-block p {
    width: 100%;
    margin: 0;
    font-weight: 700;
}

.content-section .image-container span, .content-section .p5Embed span, .content-section .embed span, .image-container-small span, .video-container span {
    font-size: 16px;
    color: #999;
    text-align: center;
    width: 100%;
    margin-top: 5px;
    display: block;
}

.content-section .embed > div {
    width: 100%;
}

.embed iframe {
    border: none;
}

.p5Embed {
    width: 100%;
    padding-top: 100%;
    position: relative;
    margin-bottom: 20px;
}

.p5Embed iframe {
    width: 100%;
    height: 100%;
    top: 0;
    border: none;
    position: absolute;
}

@media (min-width: 960px) {

    .content-section .code-block {
        width: 700px;
        margin: auto;
    }

    .p5Embed {
        width: 700px;
        padding-top: 40%;
        margin: auto;
        margin-bottom: 20px;
    }

    .content-section h2, .content-section h3, .content-section ol, .content-section p, .content-section ul {
        width: 700px;
        margin: auto;
    }

    .content-section p, .content-section ul, .content-section ol {
        margin-bottom: 20px;
    }

    .content-section h2 {
        margin-bottom: 20px;
        margin-top: 40px;
    }

    .content-section ul {
        margin-top: 20px;
        padding: 0;
    }

    .content-section .image-container {
        width: 960px;
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-section .embed {
        width: 700px;
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .video-container { width: 700px; margin: 0 auto; position: relative; padding-bottom: 56%; padding-top: 30px; height: 0; overflow: hidden; }
    .video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

    .content-section .image-container-small {
        width: 700px;
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Creative Coding */
.grid-projects ul {
    padding: 0;
    list-style: none;
    padding: 20px;
}

.grid-projects ul li a {
    border: none;
}

.grid-projects ul li video {
    width: 100%;
}

.grid-projects ul li span {
    font-size: 14px;
}

#creative-coding {
    margin: 50px auto;
}

@media (min-width: 960px) {

    #creative-coding {
        margin: 100px auto;
    }

    .grid-projects ul {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 960px;
        margin: auto;
    }

    .grid-projects ul li {
        display: flex;
        /* align-items: center; */
        justify-content: center;
        padding: 10px;
        flex-direction: column;
    }
}

.container-large {
    position: relative;
}

.container-med {
    padding: 20px;
}

#aboutNav {
    display: none;
    position: sticky;
    padding: 50px;
    top: 0;
}

@media (min-width: 960px) {

    .container-large {
        position: relative;
        display: flex;
        width: 1200px;
        margin: auto;
    }

    .container-med {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 960px;
        margin: auto;
    }

    #aboutNav {
        display: block;
    }
}


.wrapper {
    width: 400px;
}

.container-small {
    position: relative;
    top: 0;
}

#aboutNav ul {
    padding: 0;
    list-style: none;
}

#aboutNav ul li {
    margin: 0;
}

#aboutNav ul li a {
    padding: 5px 12px;
    display: inline-block;
    border: none;
    font-weight: 400;
}

#aboutNav ul li a.bold {
    font-weight: 700;
}

@media (min-width: 960px) {
    .container-large .container-small {
        padding-top: 30px;
        padding: 0px 20px;
    }
}

@media (min-width: 960px) {
    #outerBox {
        width: 960px;
        background-color: #fff;
        margin: auto;
        height: 400px;
    }
}

#experiments {
    padding: 0 20px;
}

#experiments h2 {
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 36px;
}

.experiment-item {
    margin-bottom: 30px;
}

.experiment-item span {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.experiment-item h3 {
    margin: 0;
    font-size: 18px;
    padding: 0;
}

@media (min-width: 960px) {
    #experiments {
        width: 960px;
        margin: auto;
    }

    .experiment-item {
        width: 50%;
    }
}