/* Global Styles */
html {
    /* scroll-behavior: smooth; */
    --main-font-color: #111;
    --spacing-s: 12px;
    --spacing-m: 32px;
    --spacing-l: 48px;
    --spacing-xl: 64px;

    --font-s: 14px;
    --font-m: 18px;
    --font-l: 24px;
    --font-xl: 32px;
}

@media (min-width: 960px) {
    html {
        --spacing-s: 12px;
        --spacing-m: 32px;
        --spacing-l: 48px;
        --spacing-xl: 64px;

        --font-s: 16px;
        --font-m: 24px;
        --font-l: 32px;
        --font-xl: 48px;
    }
}

body {
    font-family: 'Work Sans', serif;
    color: var(--main-font-color);
    font-size: var(--font-s);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Krona One', serif;
    font-weight: 700;
    line-height: 140%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--font-l);
}

h1 a {
    text-decoration: none;
}

h2 {
    font-size: var(--font-l);
    margin: 0;
}

h3 {
    font-size: var(--font-m);
}

h3 a {
    border: none;
}

p, ul li, ol li {
    line-height: 140%;
    margin-top: 0;
}

ul ul {
    margin-top: 12px;
}

a {
    color: var(--main-font-color);
}

a:hover {
    background-color: #111;
    color: #fff;
}

a.active:hover {
    color: #111;
    background-color: #fff;
    cursor: default;
}


ul li, ol li {
    margin-bottom: 12px;
}

.image-container img, .image-container video {
    width: 100%;
    margin: 0;
}

.image-container-small img, .image-container-small video {
    width: 100%;
    margin: 0;
}

a.button {
    display: inline-block;
    border: 2px #111 solid;
    padding: 12px 24px;
    text-decoration: none;
}

@media (min-width: 960px) {
    .container-small {
        width: 600px;
        padding: 20px;
        margin: auto;
    }
}

.para {
    margin: 30px 0;
}

@media (min-width: 960px) {
    .para {
        margin: 40px 0;
    }
}

/* Header */

header {
    margin: auto;
    padding-top: var(--spacing-l);
    width: 100%;
    margin-bottom: var(--spacing-l);
}

header h1 {
    padding: 0 20px;
}

header h1 a {
    border: 2px solid transparent;
    font-weight: 700;
}

nav {
    display: none;
}

@media (min-width: 960px) {

    header {
        width: 960px;
        display: flex;
        justify-content: space-between;
    }

    header h1 {
        padding: 0;
    }

    nav {
        display: block;
    }

    nav ul {
        display: flex;
        list-style: none;
        gap: 32px;
        font-size: 14px;
        font-weight: 400;
    }

    nav ul a {
        padding-bottom: 5px;
    }

    nav ul a.active {
        border: none;
    }
}

/* Hero */

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: var(--spacing-xl);
}

.image span {
    font-style: italic;
    color: #aaa;
    font-size: 12px;
}

#hero h2 {
    margin-bottom: var(--spacing-s);
}

#hero p {
    line-height: 160%;
    margin-bottom: var(--spacing-s);
}

#hero .image {
    padding: 0 20px;
    margin-bottom: var(--spacing-s);
}

.image img {
    width: 100%;
}

.content {
    padding: 0 20px;
}

.content-section ul.bulleted-list {
    list-style-type: disc;
    padding: inherit;
}

ul.career-list li {
    margin-bottom: 20px;
}

@media (min-width: 960px) {
    section#hero {
        width: 960px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 50px auto;
        gap: 50px;
        /* margin-bottom: 100px; */
    }

    section#hero .content {
        width: 60%;
        padding: 0;
    }

    section#hero .image {
        width: 40%;
        overflow: hidden;
        padding: 0;
    }

    section#hero .image img {
        width: 100%;
    }

    .content { 
        padding: 0;
    }
}

/* Portfolio */

.listing-section {
    margin: auto;
}

.listing-header {
    padding: 0 20px;
    margin-bottom: var(--spacing-l);
}

.listing-header h2 {
    padding-top: var(--spacing-m);
    border-top: 5px solid #111;
}

.listing-header p {
    margin-bottom: 0;
}

.content h3 {
    margin-bottom: var(--spacing-s);
}

.listing-section h2 {
    margin-bottom: var(--spacing-s);
}

.content .year {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
}

.listing-section .project .content {
    padding-top: 0px;
}

.listing-section .project {
    margin-bottom: var(--spacing-xl);
}

.project-image {
    padding: 0 20px;
}

.project-image a {
    border: none;
}

.project-image img {
    width: 100%;
    height: auto;
}

.dark-mode {
    margin-top: var(--spacing-xl);
    padding-top: var(--spacing-m);
    padding-bottom: var(--spacing-m);
    background-color: #111;
    color: #fff;
}


@media (min-width: 960px) {
    .listing-section {
        width: 960px;
    }

    .listing-header {
        padding: 0;
    }

    .project-list {
        display: grid;
        gap: var(--spacing-m);
        grid-template-columns: repeat(3, 1fr);
    }

    .listing-section .project {
        margin-bottom: 0;
    }

    .content h3 {
        font-size: 18px;        
    }

    .listing-header h2 {
        margin-bottom: 0;
        padding: 0;
        padding-top: var(--spacing-m);
        margin-top: var(--spacing-m);
    }

    #portfolio .project-image {
        width: 288px;
        padding: 0;
        /* height: 320px; */
        margin-right: 24px;
    }

    .dark-mode {
        padding-bottom: var(--spacing-m);
    }
}

/* Footer */

footer {
    padding-top: 50px;
    padding-bottom: 25px;
}

.social a:hover {
    background-color: #fff;
}

@media (min-width: 960px) {
    footer {
        padding-top: 100px;
        padding-bottom: 50px;
    }
}

.social ul {
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.social a {
    border: none;
}

.social img {
    width: 24px;
}

#credit {
    text-align: center;
    width: 80%;
    margin: 0px auto;
    font-size: 12px;
}

/* Project Hero */

#projectHero {
    padding: 30px 0;
}

#projectHero.hrBg {
    background-color: #FBEEF1;
}

#projectHero.instArtBg {
    background-color: #F9F9F9;
}

#projectHero.videofeedArtBg {
    background-color: #F4ECE0;
}

#projectHero.typeArtBg {
    background-color: #000;
    color: #fff;
}

#projectHero.gibberBg {
    background-color: #000;
    color: #1AFDFE;
}


#projectHero.playBg {
    background-color: #F2F4FF;
}

#projectHero.videoBg {
    background-color: #F8F4FF;
}

#projectHero.goqiiBg {
    background-color: #F1FFEB;
}

#projectHero.practoBg {
    background-color: #EBF7FF;
}

#projectHero.gamificationBg {
    background-color: #FFF9E4;
}

#projectHero h2 {
    font-size: 20px;
    text-align: center;
}

#projectHero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 960px) {
    #projectHero .content {
        width: 960px;
        margin: auto;
    }

    #projectHero .image-container {
        width: 700px;
        margin: auto;
        margin-top: 40px;
    }

    #projectHero h2 {
        font-size: 48px;
    }
}

/* Project Content */

.content-section {
    padding: 20px;
}

.content-section h2 {
    margin-bottom: 10px;
    margin-top: 20px;
}


.content-section p, .content-section ul, .content-section ol {
    margin-bottom: 20px;
}

.content-section ul, .content-section ol {
    padding: 0 20px;
    overflow: hidden;
}

.content-section .image-container, .content-section .image-container-small {
    margin-bottom: 20px;
}

.content-section .image-container-small audio {
    width: 100%;
    display: block;
}

.content-section .code-block {
    width: 100%;
    font-family: monospace;
    box-sizing: border-box;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
}

.content-section .code-block p {
    width: 100%;
    margin: 0;
    font-weight: 700;
}

.content-section .image-container span, .content-section .p5Embed span, .content-section .embed span, .image-container-small span, .video-container span {
    font-size: 16px;
    color: #999;
    text-align: center;
    width: 100%;
    margin-top: 5px;
    display: block;
}

.content-section .embed > div {
    width: 100%;
}

.embed iframe {
    border: none;
}

.p5Embed {
    width: 100%;
    padding-top: 100%;
    position: relative;
    margin-bottom: 20px;
}

.p5Embed iframe {
    width: 100%;
    height: 100%;
    top: 0;
    border: none;
    position: absolute;
}

@media (min-width: 960px) {

    .content-section .code-block {
        width: 700px;
        margin: auto;
    }

    .p5Embed {
        width: 700px;
        padding-top: 40%;
        margin: auto;
        margin-bottom: 20px;
    }

    .content-section h2, .content-section h3, .content-section ol, .content-section p, .content-section ul {
        width: 700px;
        margin: auto;
    }

    .content-section p, .content-section ul, .content-section ol {
        margin-bottom: 20px;
    }

    .content-section h2 {
        margin-bottom: 20px;
        margin-top: 40px;
    }

    .content-section ul {
        margin-top: 20px;
        padding: 0;
    }

    .content-section .image-container {
        width: 960px;
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-section .embed {
        width: 700px;
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .video-container { width: 700px; margin: 0 auto; position: relative; padding-bottom: 56%; padding-top: 30px; height: 0; overflow: hidden; }
    .video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

    .content-section .image-container-small {
        width: 700px;
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Creative Coding */
.grid-projects ul {
    padding: 0;
    list-style: none;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-s);
    row-gap: 0;
}

.grid-projects ul li a {
    border: none;
}

.grid-projects ul li video {
    width: 100%;
}

.grid-projects ul li span {
    font-size: 14px;
}

#creative-coding {
    margin: 50px auto;
}

@media (min-width: 960px) {

    #creative-coding {
        margin: 100px auto;
    }

    .grid-projects ul {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        width: 960px;
        gap: var(--spacing-s);
        row-gap: 0;
        margin: auto;
    }

    .grid-projects ul li {
        display: flex;
        /* align-items: center; */
        justify-content: center;
        padding: 10px;
        flex-direction: column;
    }
}

.container-large {
    position: relative;
}

.container-med {
    padding: 20px;
}

#aboutNav {
    display: none;
    position: sticky;
    padding: 50px;
    top: 0;
}

@media (min-width: 960px) {

    .container-large {
        position: relative;
        display: flex;
        width: 1200px;
        margin: auto;
    }

    .container-med {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 960px;
        margin: auto;
    }

    #aboutNav {
        display: block;
    }
}


.wrapper {
    width: 400px;
}

.container-small {
    position: relative;
    top: 0;
}

#aboutNav ul {
    padding: 0;
    list-style: none;
}

#aboutNav ul li {
    margin: 0;
}

#aboutNav ul li a {
    padding: 5px 12px;
    display: inline-block;
    border: none;
    font-weight: 400;
}

#aboutNav ul li a.bold {
    font-weight: 700;
}

@media (min-width: 960px) {
    .container-large .container-small {
        padding-top: 30px;
        padding: 0px 20px;
    }
}

@media (min-width: 960px) {
    #outerBox {
        width: 960px;
        background-color: #fff;
        margin: auto;
        height: 400px;
    }
}
