
/* Header */

header {
    padding: var(--spacing-l) 0;
    margin: 0 20px;
}

header h1 {
    font-size: var(--font-l);
}

nav {
    display: none; /* nav hidden for mobile */
}

@media (min-width: 960px) {

    header {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 960px;
    }

    nav {
        display: block;
    }

    nav ul {
        display: flex;
        list-style: none;
        gap: var(--spacing-l);
        font-weight: 400;
    }

    nav ul a {
        padding-bottom: 5px;
    }

    nav ul a.active {
        border: none;
    }
}

/* Hero */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: var(--spacing-l);
    gap: var(--spacing-m);
}

.hero > .image {
    margin: 0 20px;
}

.hero > .image span {
    font-style: italic;
    color: var(--font-color-faded);
    font-size: 12px;
}

.image img {
    width: 100%;
}

.hero > .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-s);
    margin: 0 20px;
}

@media (min-width: 960px) {
    .hero {
        width: 960px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 50px auto;
        gap: 50px;
        /* margin-bottom: 100px; */
    }

    .hero > .content {
        width: 60%;
        padding: 0;
    }

    .hero > .image {
        width: 40%;
        overflow: hidden;
        padding: 0;
    }

    .hero > .image > img {
        width: 100%;
    }

    .hero > .content { 
        margin: 0;
    }
}

/* Portfolio */

.listing-section {
    margin: 0 20px;
}

.listing-header {
    display: flex;
    flex-direction: column;
    border-top: 5px solid #111;
    padding-top: var(--spacing-m);
    padding-bottom: var(--spacing-l);
}

.item-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-l);
    margin-bottom: var(--spacing-l);
}

.item-list > div > p:first-child {
    color: var(--font-color-faded);
}

.dark-mode {
    padding-bottom: var(--spacing-m);
    background-color: #111;
    color: #fff;
}


@media (min-width: 960px) {
    .listing-section {
        width: 960px;
        margin: auto;
    }

    .listing-header {
        padding: var(--spacing-l) 0;
    }

    .item-list {
        display: grid;
        gap: var(--spacing-l);
        grid-template-columns: repeat(3, 1fr);
    }

    .listing-section .project {
        margin-bottom: 0;
    }

    .content h3 {
        font-size: 18px;        
    }

    .listing-header h2 {
        margin-bottom: 0;
        padding: 0;
    }

    #portfolio .project-image {
        width: 288px;
        padding: 0;
        /* height: 320px; */
        margin-right: 24px;
    }

    .dark-mode {
        padding-bottom: var(--spacing-l);
    }
}

/* Footer */

footer {
    padding: var(--spacing-l) 0;
}

.social a:hover {
    background-color: #fff;
}

.social ul {
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.social a {
    border: none;
}

.social img {
    width: 24px;
}

#credit {
    text-align: center;
    width: 80%;
    margin: 0px auto;
    font-size: 12px;
}

/* Project Hero */

.project-hero  {
    padding: var(--spacing-l) 0;
    margin-bottom: var(--spacing-l);
    background-color: #FBEEF1;
}

.project-hero .content {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
}

@media (min-width: 960px) {
    .project-hero  .content {
        width: 700px;
        justify-content: center;
        text-align: center;
        margin: auto;
    }

    .project-hero  h3 {
        font-size: var(--font-xl);
    }
}

/* Project Meta Data */

.project-metadata {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    margin-bottom: var(--spacing-l);
}

.project-metadata > .item {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--spacing-s);
    border-bottom: 1px solid #111;
    gap: 2px;
}

.project-metadata > .item:last-child {
    border: none;
    padding-bottom: 0;
}

.project-metadata > .item > .label {
	flex-grow: 0;
	flex-shrink: 0;
    font-weight: bold;
    color: var(--secondary-color);
}

@media (min-width: 960px) {
    .project-metadata {
        margin: auto;
        width: 700px;
    }

    .project-metadata > .item {
        flex-direction: row;
    }

    .project-metadata > .item > .label {
        flex-basis: 100px;
    }

    .project-hero  h3 {
        font-size: var(--font-xl);
    }
}

.project-sub-section {
    margin-bottom: var(--spacing-l);
}

@media (min-width: 960px) {
    .project-sub-section {
        margin-bottom: var(--spacing-l);
    }    
}

.project-content-section {
    padding: 0 20px;
}

.project-content-section h3, .project-content-section h4 {
    margin-bottom: var(--spacing-s);
}

.project-content-section p {
    margin-bottom: var(--spacing-s);
}

.project-content-section p b {
    color: var(--secondary-color);
}

.project-content-section ol, .project-content-section ul {
    overflow: hidden;
    padding-left: 20px;
    margin-bottom: var(--spacing-s);
}

.project-content-section ul {
    margin-bottom: var(--spacing-s);
}

.project-content-section ul li , .project-content-section ol li {
    margin-bottom: var(--spacing-s);
}

.project-content-section ul li:last-child , .project-content-section ol li:last-child {
    margin-bottom: 0;
}

.project-content-section li::marker {
    margin: 0 0.5rem 0 0;
    color: var(--secondary-color);
}

blockquote {
    margin: 0;
    padding: 0;
    padding: var(--spacing-s);
    margin-bottom: var(--spacing-s);
    border-left: 5px solid var(--secondary-color);;
}

li.faded, p.faded {
    color: var(--font-color-faded);
}

.project-content-section .image-container, .project-content-section .image-container-small {
    margin-bottom: 20px;
}

.project-content-section .image-container-small audio {
    width: 100%;
    display: block;
}

.project-content-section .code-block {
    width: 100%;
    font-family: monospace;
    box-sizing: border-box;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
}

.project-content-section .code-block p {
    width: 100%;
    margin: 0;
    font-weight: 700;
}

.project-content-section .image-container span, .project-content-section .p5Embed span, .project-content-section .embed span, .image-container-small span, .video-container span {
    font-size: 16px;
    color: #999;
    text-align: center;
    width: 100%;
    margin-top: 5px;
    display: block;
}

.project-content-section .embed > div {
    width: 100%;
}

.embed iframe {
    border: none;
}

.p5Embed {
    width: 100%;
    padding-top: 100%;
    position: relative;
    margin-bottom: 20px;
}

.p5Embed iframe {
    width: 100%;
    height: 100%;
    top: 0;
    border: none;
    position: absolute;
}

@media (min-width: 960px) {

    .project-content-section .code-block {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    .project-content-section h2, .project-content-section h4, .project-content-section h3, .project-content-section ol, .project-content-section p, .project-content-section ul, blockquote {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    .project-content-section .image-container {
        width: 960px;
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-content-section .embed {
        width: 700px;
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .video-container { width: 700px; margin: 0 auto; position: relative; padding-bottom: 56%; padding-top: 30px; height: 0; overflow: hidden; }
    .video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

    .project-content-section .image-container-small {
        width: 700px;
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Creative Coding */
.grid-projects ul {
    padding: 0;
    list-style: none;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-s);
    row-gap: 0;
}

.grid-projects ul li a {
    border: none;
}

.grid-projects ul li video {
    width: 100%;
}

.grid-projects ul li span {
    font-size: 14px;
}

#creative-coding {
    margin: 50px auto;
}

@media (min-width: 960px) {

    #creative-coding {
        margin: 100px auto;
    }

    .grid-projects {
        padding-bottom: var(--spacing-l);
    }

    .grid-projects ul {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        width: 960px;
        gap: var(--spacing-s);
        row-gap: 0;
        margin: auto;
    }

    .grid-projects ul li {
        display: flex;
        /* align-items: center; */
        justify-content: center;
        padding: 10px;
        flex-direction: column;
    }
}

.container-large {
    position: relative;
}

.container-med {
    padding: 20px;
}

#aboutNav {
    display: none;
    position: sticky;
    padding: 50px;
    top: 0;
}

ul.career-list li {
    margin-bottom: 20px;
}

@media (min-width: 960px) {

    .container-large {
        position: relative;
        display: flex;
        width: 1200px;
        margin: auto;
    }

    .container-med {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 960px;
        margin: auto;
    }

    #aboutNav {
        display: block;
    }
}


.wrapper {
    width: 400px;
}

.container-small {
    position: relative;
    top: 0;
}

@media (min-width: 960px) {
    .container-small {
        width: 600px;
        padding: 20px;
        margin: auto;
    }
}

#aboutNav ul {
    padding: 0;
    list-style: none;
}

#aboutNav ul li {
    margin: 0;
}

#aboutNav ul li a {
    padding: 5px 12px;
    display: inline-block;
    border: none;
    font-weight: 400;
}

#aboutNav ul li a.bold {
    font-weight: 700;
}

@media (min-width: 960px) {
    .container-large .container-small {
        padding-top: 30px;
        padding: 0px 20px;
    }
}

@media (min-width: 960px) {
    #outerBox {
        width: 960px;
        background-color: #fff;
        margin: auto;
        height: 400px;
    }
}
