

.content-section {
    padding: 20px;
}

.content-section h2 {
    font-size: 36px;
    margin: 0;
}


.content-section h3 {
    font-size: 24px;
    margin: 0;
}

@media (min-width: 600px) {

    .grid-projects ul {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 960px;
        margin: auto;
    }

    .grid-projects ul li {
        display: flex;
        align-items: center;
        padding: 10px;
    }

    #about.creative-coding-title {
        padding: 100px 0;
    }

    #projectHero .content {
        width: 960px;
        margin: auto;
    }

    #projectHero h2 {
        font-size: 48px;
    }

    #projectHero .image-container {
        width: 600px;
        margin: auto;
    }

    .content-section h2, .content-section h3, .content-section ol, .content-section p, .content-section ul {
        width: 600px;
        margin: auto;
    }

    .content-section h2 {
        margin-bottom: 20px;
        margin-top: 40px;
    }

    .content-section p, .content-section ul, .content-section ol {
        margin-bottom: 20px;
        line-height: 160%;
    }

    .content-section ul li, .content-section ol li {
        margin-bottom: 20px;
    }

    .content-section .image-container, .content-section .embed {
        width: 1200px;
        margin: auto;
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .content-section .image-container span {
        font-size: 16px;
        color: #999;
        text-align: center;
        width: 100%;
        margin-top: 15px;
        display: block;
    }

    footer {
        padding-top: 100px;
        padding-bottom: 50px;
    }


    #about {
        font-size: 24px;
        width: 600px;
        margin: auto;
    }
    
    #about h2 {
        line-height: 140%;
        font-size: 36px;
        margin: 30px auto;
    }
}